* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1450px;
    min-width: 1220px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.centered {
    margin: 0 auto;
}

header {
    background-color: rgb(73%, 81%, 90%);
    min-width: 1220px;

}

.navbar-top {
    padding: 0 5px;
    line-height: 30px;
    vertical-align: middle;
    background-color: white;
    

}

.navbar{
     display: inline-block;
     width: 50%;
     
     
}
 .navbar nav {
     display: inline-block;
}
 
 
.navbar li {
     display: inline-block;
     font-size: 1rem;
     
     padding: 15px 20px;
     
}
 
.navbar-left {
     float: left;
}

.navbar-right {
     float: right;
     text-align: right;
}

.navbar li a {
   text-decoration: none;
   color: black;
   padding: 10px;

}
.navbar li a:hover {
    background-color: lightgrey;
}

.bluebutton {
    line-height: 25px;
    /* vertical-align: middle; */
    padding: 0 12px;
    background-color: blue;
    border-style: none;
}

.bluebutton a {
    color: white;
    text-decoration: none;
}

.bluebutton:hover {
    background-color: lightblue;
}




.navbar img {
    vertical-align: middle;
 }

 .content-header {
     width: 1000px;
     position: relative;
     padding-top: 50px;
     padding-bottom: 50px;
     
 }
 .content-header h1 {
     font-size: 4rem;
/*      margin-top: 30px;
 */ }

 .text-box {
     margin-top: 100px;
     width: 20%;
     float: left;
 }

 .content-header img {
    width: 90%;
    float: right;
    position: absolute;
    left: 25%;
    top: 40%;
 } 

 .content-header .bluebutton {
     margin: 25px 0;
 }

 .content-header i {
     font-size: 2.5rem;
     margin-top: 0px;
     padding-bottom: 20px;
 }





 
 